@import url(https://fonts.googleapis.com/css?family=Lobster);

body
{
  background: Black;
  color: blue;
  text-align: center;
  border: 55px double blue;
 font-family: 'Lobster',serif;
}






